@media(max-width: 1700px){
    .profile{
        max-height: 600px;
        max-width: 600px;
    }
}

@media(max-width: 1550px){
    header .logo{
        font-size: 2.7rem;
    }
    header .navs{
        font-size: 1.3rem;
    }
    .profile{
        max-height: 500px;
        max-width: 500px;
    }

    .intro h1{
        font-size: 3.6rem;
    }
    .intro span{
        font-size: 2rem;
    }

    .intro p{
        font-size: 16px;
      
    }

    .intro .buttons{
        gap: 2rem;
    }

    .intro .buttons button{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .soci-media{
        gap: 5rem;
    }
}

@media(max-width: 1400px){
    header .logo{
        font-size: 2.5rem;
    }
    header .navs{
        font-size: 1.2rem;
    }
    .profile{
        max-height: 420px;
        max-width: 420px;
    }

    .intro h1{
        font-size: 3.3rem;
    }
    .intro span{
        font-size: 1.8rem;
    }

    .intro p{
        font-size: 16px;
      
    }

    .intro .buttons{
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .intro .buttons button{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .soci-media{
        gap: 4rem;
        margin-top: 4rem;
    }
}

@media(max-width: 1200px){
    .profile{
        max-height: 370px;
        max-width: 370px;
    }

    .intro h1{
        font-size: 2.9rem;
    }
    .intro span{
        font-size: 1.5rem;
    }

    .intro p{
        font-size: 15px;
      
    }

    .intro .buttons{
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .intro .buttons button{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .soci-media{
        gap: 3rem;
        margin-top: 4rem;
    }
}

@media(max-width: 1100px){
    .home .hero{
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        gap: 2rem;
    }
    .profile{
        max-height: 370px;
        max-width: 370px;
        order: 1;
    }

    .intro{
        justify-content: center;
        align-items: center;
        order: 2;
        height: fit-content !important;
    }

    .intro h1{
        font-size: 2.5rem;
    }
    .intro span{
        font-size: 1.5rem;
    }

    .intro p{
        font-size: 16px;
        padding: 10px 20px;
      
    }

    .intro .buttons{
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .intro .buttons button{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .soci-media{
        gap: 5rem;
        margin-top: 4rem;
        justify-content: center;
    }
}

@media(max-width: 1050px){
    .hamburger{
        display: block;
    }

    .menu{
        display: flex;
    }
    header .navs{
        display: none;
    }
    .home .hero{
        flex-direction: column;
        height: 80vh;
        justify-content: center;
        gap: 2rem;
    }
    .profile{
        max-height: 350px;
        max-width: 350px;
    }

    .intro h1{
        font-size: 2.3rem;
    }
    .intro span{
        font-size: 1.3rem;
    }

    .intro p{
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
      
    }

    .intro .buttons{
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .intro .buttons button{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .soci-media{
        gap: 4rem;
        margin-top: 4rem;
    }
}


@media(max-width: 768px){
    header .logo{
        font-size: 1.7rem;
    }
    .home .hero{
        flex-direction: column;
        height: 80vh;
        justify-content: center;
        gap: 2rem;
    }
    .profile{
        max-height: 220px;
        max-width: 220px;
    }

    .intro h1{
        font-size: 1.7rem;
    }
    .intro span{
        font-size: 1.1rem;
    }

    .intro p{
        font-size: 14px;
        padding: 5px 20px;
        text-align: center;
      
    }

    .intro .buttons{
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .intro .buttons button{
        padding: 7px 20px;
        font-size: 13px;
        font-weight: 500;
    }

    .soci-media{
        gap: 2rem;
        margin-top: 2rem;
    }

    .soci-media .media i{
        font-size: 1.5rem;
    }

    .soci-cont:hover span{
        display: none;
    }

    
}